{% load static %}
<!-- yatranslate --------------------------->
            <div class="lang lang_fixed">
              <div id="ytWidget" style="display: none;"></div>
              <div class="lang__link lang__link_select" data-lang-active="en">
                  <img class="lang__img lang__img_select" src="{% static 'translate/images/lang/lang__en.png' %}" alt="en">
              </div>
              <div class="lang__list" data-lang-list="">
                  <a class="lang__link lang__link_sub" data-ya-lang="ru">
                      <img class="lang__img" src="{% static 'translate/images/lang/lang__ru.png' %}" alt="ru">
                      Russian
                  </a>
                  <a class="lang__link lang__link_sub" data-ya-lang="en">
                      <img class="lang__img" src="{% static 'translate/images/lang/lang__en.png' %}" alt="en">
                      English
                  </a>
                  <a class="lang__link lang__link_sub" data-ya-lang="de">
                      <img class="lang__img" src="{% static 'translate/images/lang/lang__de.png' %}" alt="de">
                      German
                  </a>
                  <a class="lang__link lang__link_sub" data-ya-lang="zh">
                      <img class="lang__img" src="{% static 'translate/images/lang/lang__zh.png' %}" alt="zh">
                    Chinese
                    </a>
                  <a class="lang__link lang__link_sub" data-ya-lang="ar">
                    <img class="lang__img" src="{% static 'translate/images/lang/lang__ar.png' %}" alt="ar">
                    Arabic
                </a>
                  <a class="lang__link lang__link_sub" data-ya-lang="fr">
                      <img class="lang__img" src="{% static 'translate/images/lang/lang__fr.png' %}" alt="fr">
                    French  
                  </a>
                  <a class="lang__link lang__link_sub" data-ya-lang="el">
                      <img class="lang__img" src="{% static 'translate/images/lang/lang__el.png' %}" alt="el">
                    Greek
                    </a>
              </div>
          </div>
      
          <!------------- End Ya_translate------------------------------ -->